
html { 
    /* background: url("../images/tenor.gif") no-repeat center center fixed;  */
    background: url("../images/forklift.jpg") no-repeat center center fixed; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    background-color: #ecf0f1;
    font-family: sans-serif;
    background-size: 100% ;
  }


body {
  min-width: 360px;
}

main
 {
    background-color: white;
    opacity: 0.97;
   
}
header,
main,
nav {
    margin: 1rem;
    border-radius: 15px;
}
/* to moze nawet ladnie wygladac  bez zielonego naglowka bez header */
header,    
footer {
    background-color: #879e02;
    color: white;
    padding: 1rem;
    border-radius: 15px;
   
}
footer{ 
    width:97%; /*popraw bo beznadziejnie sie skaluje */
    bottom:0; /* u dołu strony usunalem tez padding w wlasciowsciach footer*/
    position: fixed;
   /* margin-right: 1rem;*/
}
/*  kurla dlaczego to dziala ???? a jak suuwam to mi psuje wszystko xD */
footerExtension{   
    bottom:0; 
    position: fixed;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 15px;
}
header {
    display: flex;
    justify-content: space-between;
}
nav {
    background-color: #bdc3c7;
}
nav ul {
    padding: 0;
    display: flex; /* overflow: hidden;*/
    list-style-type: none;
}
/* nav ul li {
    float: left;
} */
nav ul li a {
    display: inline-block;
    color: #2c3e50;
    padding: 1rem 2rem;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #c4d10d;
    color: #ecf0f1;
    border-radius: 20px;
}
nav ul li a.active {
    background-color: #95a5a6;
    color: #ecf0f1;
    border-radius: 20px;
}
main {
    padding: 1.5rem;
    margin-bottom: 125px; /* coś pięknego dobrze ze to wymysliles*/
}
footer {
    text-align: center;
}
main h2 {
    border-bottom: 1px solid #7f8c8d;
    margin-bottom: 2rem;
}
.table-list {
    border-collapse: collapse;
    color:#2c3e50;
    width: 100%;
}
.table-list,
.table-list th,
.table-list td {
    border: 1px solid #bdc3c7;
}
.table-list th,
.table-list td {
    padding: 0.5rem;
}
.table-list th,
.table-list tbody tr:nth-child(even) {
    background-color: #ecf0f1;
}
.list-actions {
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
}
.list-actions li {
    display: inline-block;
}
.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    display: inline-block;
    width: 75px;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}

.list-actions-button-details,
.list-actions-button-edit {
    margin-right: 1rem;
}
.list-actions-button-details {
    background-color: #2980b9;    
}
.list-actions-button-details:hover {
    background-color: #3498db;
}
.list-actions-button-edit {
    background-color: #f39c12;
    
}

.list-actions-button-edit:hover {
    background-color: #f1c40f;
}
.list-actions-button-delete {
    background-color: #c0392b;
}

.list-actions-button-delete:hover {
    background-color: #e74c3c;
}


.button-add {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    
}
.button-add {
    padding: 0.5rem 1rem;
}
.button-add {
    background-color: #27ae60;
}

.button-add:hover {
    background-color: #2ecc71;
}
button, 
input, 
select, 
textarea { 
    font-family: inherit; 
    font-size: 100%; 
    box-sizing: border-box; 
    padding: 0; margin: 0; 
} 

textarea { 
    overflow: auto; 
}
.form {
    margin-left: 2rem;
    /* width: 300px; */
    display: grid;
    grid-template-columns: 150px 300px 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}
.form select, 
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"] {
    border: 1px solid #7f8c8d;
    color:#2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}
.form label {
    display: block;
    margin-bottom: 0.5em;
}
.form-group {
    margin-bottom: 1rem;
}
abbr[title='required'] {
    color: #c0392b;
}
.errors-text {
    font-size: 0.85em;
    line-height: 2.25rem;
    color:#e74c3c
  }
.form input.error-input,
.form select.error-input {
  border: 3px solid #e74c3c
}
.form-buttons{
    margin-top: 2rem;
    /* grid-column-start: 1; */
    grid-column-end: -1;
    grid-column: 1 / span 2;
}
.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    
}
.button-add,
.form-button-submit,
.form-button-cancel {
    padding: 0.5rem 1rem;
}
.button-add,
.form-button-submit
{
    background-color: #27ae60;
}

.button-add:hover,
.form-button-submit:hover
{
    background-color: #2ecc71;
}

.form-button-cancel,
.list-actions-button-delete {
    background-color: #c0392b;
}

.form-button-cancel:hover,
.list-actions-button-delete:hover {
    background-color: #e74c3c;
}
.form-button-submit,
.form-button-cancel {
    width: 100%;
}

.form-button-cancel {
    box-sizing: border-box;
    display: block;
}

.form-button-submit {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

/* bawimy sie dalej*/
.wrapper {
    height: 100%;
    margin-bottom: -50px;
}

  
@media all and (max-width: 720px) {
    header {
        flex-direction: column;
    }
    header h1 {
        text-align: center;
    }
    header img {
        align-self: center;
    }
    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        flex-basis: 50%;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }
    .form {
        grid-template-columns: 1fr;
        row-gap:unset;
        margin-left: unset;
    }
    .form .errors-text {
        margin-bottom: 1rem;
    }
    /* .form input[type="text"],
    .form input[type="number"],
    .form input[type="date"],
    .form select {
        margin-bottom: 1rem;
    } */
}
@media all and (max-width: 400px) {
    body, 
    nav, 
    nav ul, 
    header, 
    main, 
    footer {
        margin: 0;
    } 
    nav ul li {
        flex-basis: 100%;
    }
}


/* tu jakis problem moze to nie potrzebne  */
/* .form-buttons {
    grid-column: 1 / span 1; 
} */



.button-edit{
    width: 100%;
background-color: #f39c12;
box-sizing: border-box;
display: block;
border: none;
border-radius: 5px;
color: white;
text-decoration: none;
text-align: center;
font-size: 1rem;
padding: 0.5rem 1rem;
}
.button-edit:hover{
background-color: #f1c40f;
}



/* .footer  {
    color: black !important;
    border-bottom: 5px solid #D9531E;
  } */