<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Szczegoly pracownika</h2>
        <form class="form">
            <!-- <input type="text" name="firstName" id="firstName"> -->
            <!-- <label for="firstName">Imię:</label> -->
            <!-- <label for="firstName">Imię:<abbr title="required" aria-label="required">*</abbr></label> -->

            
                <label for="firstName">Imię:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="text" name="firstName"value="Jan" id="firstName" disabled />
                <span id="errorFirstName" class="errors-text"></span>
            
                <label for="lastName">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="text" name="lastName" value="Kowalski" id="lastName"disabled  />
                <span id="errorLastName" class="errors-text"></span>
            
                <label for="date">Date:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="date" name="date" value="2020-10-11" id="date" disabled />
                <span id="errorDate" class="errors-text"></span>
			
                <label for="email">Email:<abbr title="required" aria-label="required">*</abbr></label>
                <input type="text" name="email" value="jan.kowalski@rozek.whc.com" id="email" disabled />
                <span id="errorEmail" class="errors-text"></span>

                <div class="form-buttons">
                    <a href="/employees/edit/1" class="list-actions-button-edit">Edytuj</a>
                    <a href="/employees" class="form-button-cancel">Anuluj</a>
                </div>
                       
        </form>

        <h2>Szczegoly wykonywania zamowien</h2>
        
            <table class="table-list">
            <thead>  
                <tr>
                    <th>nrZamowienia</th>
                    <th>opis</th>
                    <th>Data od</th>
                    <th>Data do</th>
                </tr>

                <tbody>
                    <td>WZ/01/2020</td>
                    <td>Bardzo ważne</td>
                    <td>2012-10-10</td>
                    <td> do teraz</td>
                    </tbody>
                    <tbody>
                    <td>WZ/02/2020</td>
                    <td>Standardowe</td>
                    <td>2012-10-10</td>
                    <td> do teraz</td>
                    </tbody>
               
            </thead>
        </table>
              
        </form>

        <h2>Szczegoly zatrudnienia</h2>
        
            <table class="table-list">
            <thead>  
                <tr>
                    <th>Departament</th>
                    <th>Pensja</th>
                    <th>Data od</th>
                    <th>Data do</th>
                </tr>

                <tbody>
                    <td>Pracownik Magazynu</td>
                    <td>2300</td>
                    <td>2012-10-10</td>
                    <td> do teraz</td>
                    </tbody>
                
               
            </thead>
        </table>
      
    </main>

<%- include('../../fragments/footer.ejs') %>