<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Szczegóły departamentu departamentu</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
 
            <label for="departmentName">Nazwa:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="departmentName" value="Pracownik Magazynu" id="departmentName" disabled />
            <span id="errorDepartmenName" class="errors-text"></span>
        
            <label for="opis">Opis:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="opis" value="Wszyscy fizyczni na placu" id="opis" disabled />
            <span id="opis" class="errors-text"></span>

            <label for="date">Date:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date" name="date" value="11.10.2020" id="date" disabled />
            <span id="errorDate" class="errors-text"></span>
           
            <div class="form-buttons">
                <a href="/../../departments/edit/1.html" class="list-actions-button-edit">Edytuj</a> 
                <a href="/departments" class="form-button-cancel">Anuluj</a>
            </div>
          
        
          
    </form>
   


    <h2>Pracownicy Zatrudnieni w departamenncie</h2>
    <form>


    </form>
</main>

<footer>
    Kamil Rogowski s17911
</footer>

</body>

</html>