<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edytuj szczegóły przypisania zamówienia</h2>
    <form class="form"novalidate onsubmit="return validateForm();">

        
            <label for="zamowienie">Zamówienie:<abbr title="required" aria-label="required">*</abbr></label>
      
            <div>

            <select disabled>
                <option>WZ/01/2020</option>
                <option>WZ/02/2020</option>
                <option>WZ/03/2020</option>
            </select>
            jest wyloczone poniewaz chcemy edytowac to konkretnie zamowinie
        </div>
        <span id="errorSelectList" class="errors-text"></span>

            <label for="pracownik">Pracownik:<abbr title="required" aria-label="required">*</abbr></label>
            <select>
                <option>Jan Kowalski</option>
                <option>Artur Arturowicz</option>
                <option>jakiś gość </option>
              </select>
              <span id="errorSelectList" class="errors-text"></span>
        
              <label for="date">Pracuje od:<abbr title="required" aria-label="required">*</abbr></label>
              <input type="date" name="date" value="2020-10-10" id="date"   />
              <span id="errorDate" class="errors-text"></span>
  
            <label for="date">Pracuje do:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date" name="date" value="2020-12-20" id="date"  />
            <span id="errorDate" class="errors-text"></span>
  
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" value="Potwierdz" class="form-button-submit" />   
                <a href="/makeOrderEmployees" class="form-button-cancel">Anuluj</a>
            </div>
          
    </form>

    <h2>Historia zamówienia</h2>
    
        <table class="table-list">
        <thead>  
            <tr>
                <th>NrZamowienia</th>
                <th>Opis</th>
                <th>DataPrzyjecia</th>
                <th>Przypisany Pracownik</th>
                <th>Pracuje od</th>
                <th>Pracuje do</th>
               
            </tr>

            <tbody>
                <td>WZ/01/2020</td>
                <td>Bardzo pilne</td>
                <td>2020-10-10</td>
                <td>-----</td>
                <td>-----</td>
                <td>----</td>
            </tbody>
                
            <tbody>
                <td>WZ/01/2020</td>
                <td>Bardzo pilne</td>
                <td>2020-10-10</td>
                <td>Jan Nowak</td>
                <td>2020-10-10</td>
                <td>nadal</td>
            </tbody>
           
        </thead>
    </table>
  
</main>

<%- include('../../fragments/footer.ejs') %>